<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="page_title_container">
        <h1 class="page_title">Vietnamese-To-English Translation for Ancient Texts</h1>
    </div>

    <div class="translator_container">
        <div class="translator_box">
            <textarea id="sourceText" placeholder="Trăm năm trong cõi người ta"></textarea>
        </div>
        <div class="translator_box">
            <textarea id="translatedText" placeholder="One hundred years in the human life" readonly></textarea>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
